<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="app">
    <table>
      <thread>
        <tr>
          <th class="id">ID</th>
          <th class="amount">金額</th>
          <th class="comment">内容</th>
          <th class="state">状態</th>
          <th class="button"> - </th>
        </tr>
      </thread>
      <tbody>
        <tr v-for="item in computedTodos" v-bind:key="item.id"> {{ computedTodos.length }} 件を表示中
          <label v-for="label in options">
            <input type="radio"
            v-model="current"
            v-bind:value="label.value">
            {{ label.label}}
          </label>
          <th>{{ item.id }}</th>
          <th> {{ item.amount }} 円　</th>
          <td>
            {{ item.comment }}
            <button v-on:click="editTodo(item.id)"> 更新　</button>
          </td>
          <td class="state">
            <button v-on:click="doChangeState(item)"> {{ labels[item.state] }}</button>
          </td>
          <td class="button">
            <button v-on:click.shift="doRemove(item)">削除</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p>※削除ボタンはShiftキーを押しながらクリックしてください</p>
    <h2>新しい作業</h2>
    <form class="add-form" v-on:submit.prevent="doAdd">
      <p>金額　<input type="number" ref="amount"></p>
      <p>内容　<input type="text" ref="comment"></p>

      <button type="submit">追加</button>
    </form>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>